page-categorylist {
	.card-ios{
		width: 100% !important;
	}

.itemempty{
	font-weight:bold;
	padding-top: 50%;
	text-align:center !important;
}
.row .itemempty{
	text-align:center !important;
	margin:0 auto;
	 top: 50%;
  	left: 50%;
	}
 .outofstock{
		font-size: 11px;
		color: red;
		margin-left: 7px;
	}
	.card-md{
		box-shadow: none !important;
	}
 .instock{
		font-size: 11px;
		color: #5ca7e2;
		margin-left: 7px;
	}
	.card-detail{
		background: #e8e8e8;
		font-size: x-small;
	}
	ion-checkbox{
		margin: -100px 0px 0px 0px !important;
	padding: 3px  !important;
}

	.button_color{
		background-color: white;
		border:1px solid grey;
		color:black;
		padding:5px !important;
		float:right;
		font-size:20px;
		margin-left:5px;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.button_color:active{
		background:rgb(235, 234, 234);
	}
	.hide {
		display: none !important;
	  }
	/* .prod_collect{
		border-bottom:1px solid  rgb(226, 235, 253);
	  } */
	/* .list_view{
		border-bottom:1px solid  rgb(226, 235, 253) !important;
	} */
	.list-ios .item-block .item-inner{
		border:0px !important;
	}
	.item-ios{
		padding:0px !important;
	}
	.label-ios{
		margin:0px !important;
	}
	.item-inner{
		padding:0px !important;
	}
	/* .col{
		padding:0px !important;
	} */
	.net_weight{
		font-size: 14px;
	}

  .card-ios, .card-md{
    width: 100%;
    }
  [col-6] {
      padding: 2px;
  }
  .searchbar-md .searchbar-input{
    background: white !important;
  }
  .searchbar-md{
    background: #4958B2 !important;
  }
  .scroll-content{
    //margin-bottom: 43px;
  }
  .toolbar .toolbar-title {
    color: #aa792b !important;
    font-weight: bold !important;
   // text-align: left !important;
}
}
