page-otpverify {
  ion-card-header{
    background-color: #aa792b !important;
    color:#fff !important;
  }
  .errMsg{
    color: rgb(216, 21, 21) !important;
  }
  .input-cover{
    border-bottom: 1px solid #ccc !important;
}
}
