<!-- <ion-header align-title=”center”>
  <ion-navbar align-title=”center”>
    <ion-title align-title=”center”><img alt="logo" height="55" cache="true" src="assets/imgs/header.svg" ></ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header align-title=”center”>
	<ion-navbar align-title=”center”>
		<ion-row style="align-items: center;">
			<ion-col col-2>				
			</ion-col>
			<ion-col col-8 style="text-align: center !important;"><img alt="logo" height="55" cache="true" src="assets/imgs/header.svg"></ion-col>
			<ion-col col-2>
			</ion-col>
		</ion-row>	
	</ion-navbar>
</ion-header>

<ion-content padding-bottom>
    <ng-container margin-bottom>
        <ion-grid class="outline">
          <ion-row>
            <ion-col col-12>
              <ion-card *ngFor="let contact of contactusdetails; let i = index" margin-bottom>
                <ion-card-header text-center>
                {{contact.title}}
                </ion-card-header>
                <ion-card-content class="contact-us" text-justify>
                  <ion-grid *ngFor="let dispdet of contact.content; let idx = index">
                    <ion-row>
                      <ion-col col-1><ion-icon [name]="dispdet.icon"></ion-icon></ion-col>
                      <ion-col col-11 [innerHTML]="dispdet.displaytext"></ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
  </ion-content>
