page-subcategory {
.scroll-content {
    padding: 0px !important;
}
.card-ios{
	width: 100% !important;	
}
.card-md{
	width: 100% !important;
	box-shadow: none !important;	

	}
[col-6] {
   padding: 4px;
}
.outofstock{
	font-size: 11px;
	color: red;
	margin-left: 7px;

}
.instock{
	font-size: 11px;
	color: #5ca7e2;
	margin-left: 7px;

}
.scroll-content{
	margin-bottom: 50px !important;
}	

}
