cart {
.emptycart{
	text-align:center;
	font-size:3.0rem;
	vertical-align:center;
	font-weight:bold;	
}
.col{
	font-weight: initial !important;
}
.card-md {

	width: calc(100% - 0px) !important;
	margin: 0px !important;
	box-shadow: none !important;
}
.scroll-content{
	background: white !important;
}
}
