page-about {
  ion-card-header{
    background-color: #f9c52e  !important;
    color:#fff !important;
    font-family:Montserrat,sans-serif !important;
    font-weight: bold !important;
  }
  .aboutus{
    line-height: 30px !important;
  }
    ion-title{
  text-align: center !important;
}
}
