page-my-dashboard {
.branchtitle {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
	.card-ios{
		width: 100% !important;
	}
.itemempty{
	font-weight:bold;
	padding-top: 50%;
}
.row .itemempty{
	text-align:center;
	margin:0 auto;
	 top: 50%;
  left: 50%;
	}
 .outofstock{
		font-size: 11px;
		color: red;
	}
 .instock{
		font-size: 11px;
		color: #5ca7e2;
	}
	.card-detail{
		background: #e8e8e8;
		font-size: x-small;
	}
	ion-checkbox{
		margin: -100px 0px 0px 0px !important;
    padding: 2px  !important;}
	.card-md{
	width: 100%;
	}
[col-6] {
    padding: 2px;
}



}
