<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Category</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<!--   <ion-row style="background:#eee;">
      <ion-col col-12 align="right">
          <ion-icon   *ngIf="!checkStatus" (click)="grid()" name="grid" ></ion-icon>
          <ion-icon  *ngIf="checkStatus"  (click)="listgrid()" name="list"></ion-icon>
      </ion-col>
  </ion-row> -->
  <br>
  <ion-row [class.hide]="checkStatus">
    <ion-col col-6 [ngClass]="animateClass" *ngFor=" let item of catprod; let i=index" >
      <ion-card imageCache style="margin:0px;border: 1px solid #e4e4e4;height: 225px;border-radius: 7px;">
        <div style="margin: 3px;">
          <span *ngIf="item.is_stock_avail==1 && item.stock_manage == 1" class="instock">Instock</span>
          <span *ngIf="item.is_stock_avail==0 && item.stock_manage == 1"  class="outofstock">Out of stock</span>
          <span *ngIf="item.is_new == 1" style="float:right;"><ion-badge color="secondary">New</ion-badge></span>
        </div>
        <span *ngIf="!isquickselect" (click)="openproducts(item.id_category)">
            <img style="height: 170px;width: auto;margin: 0 auto;object-fit: contain;" *ngIf='item.imgurl != null' src='{{item.imgurl}}' imageCache/>
            <img style="height: 170px;margin: 0 auto;object-fit: contain;" *ngIf='item.imgurl == null' src='assets/images/no-img.png' imageCache/>
        </span>
        <ion-item no-padding style="height: 120px;" *ngIf="isquickselect" >
          <ion-label >
            <img style="height: 170px;width: auto;margin: 0 auto;object-fit: contain;" *ngIf='item.imgurl != null' src='{{item.imgurl}}' imageCache/>
            <img style="height: 170px;margin: 0 auto;object-fit: contain;" *ngIf='item.imgurl == null' src='assets/images/no-img.png' imageCache/>
          </ion-label>
          <ion-checkbox style="margin: 0px;" color="dark" (ionChange)="productschange($event, item)" ></ion-checkbox>
        </ion-item>
        <div style="text-align: center;font-weight: bold;text-overflow: ellipsis;overflow: hidden;padding: 5px;font-size: 14px;color: #656565;">
          {{item.name}}
        </div>
      </ion-card>

      <div style="box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">
        <ion-row class="card-detail" no-padding *ngIf="isquickselect">
          <ion-col no-padding class="col-6">N.Wgt :{{item.reqweight}}g</ion-col>
          <ion-col no-padding class="col-6"  *ngIf="item.sizeorlen != null">S/L : {{item.sizeorlen}}</ion-col>
        </ion-row>
        <ion-row class="card-detail" no-padding *ngIf="isquickselect">
          <ion-col no-padding class="col-6">Purity : <span *ngFor="let i of item.purities"><span *ngIf="i.id_purity == item.id_purity">{{i.purity}}</span></span></ion-col>
          <ion-col no-padding class="col-6" *ngIf="item.is_chain == 1">Hook : {{item.hook_type == 1 ? "S Hook" : "M Hook"}}</ion-col>
        </ion-row>
      </div>
    </ion-col>
    <div class="itemempty" *ngIf="catprod.length == 0">No item to display</div>
  </ion-row>



<!--   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
