<ion-header>
    <ion-navbar>
        <ion-title>Reset Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content text-center padding>    
   
        <!-- <img style=" max-width: 35% !important;" src='assets/images/logo/front.svg' /> -->
    <ion-card>
        <form [formGroup]="resetpasswordForm" (ngSubmit)="onPasswordreset(resetpasswordForm.value)" style="" novalidate padding>
            
				<ion-item style="color: red !important">{{errorMessage}}</ion-item>
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input [formControl]="password"  type="{{typechecknew}}"></ion-input>
                    <button style="padding: 0px !important" *ngIf="!showPassnew" ion-button clear color="dark" type="button" item-right (click)="shownewPassword()"> <ion-icon style="background:none !important;"  name="eye-off"></ion-icon></button>
                    <button style="padding: 0px !important" *ngIf="showPassnew" ion-button clear color="dark" type="button" item-right (click)="shownewPassword()">  <ion-icon style="background:none !important;" name="eye"></ion-icon></button>
                </ion-item> 
                <ion-item>
                    <ion-label floating>Confirm Password</ion-label>
                    <ion-input [formControl]="confirmPass" type="{{typecheckconfirm}}"></ion-input>
                    <button style="padding: 0px !important" *ngIf="!showPassconfirm" ion-button clear color="dark" type="button" item-right (click)="showconfirmPassword()"> <ion-icon style="background:none !important;"  name="eye-off"></ion-icon></button>
                    <button style="padding: 0px !important" *ngIf="showPassconfirm" ion-button clear color="dark" type="button" item-right (click)="showconfirmPassword()">  <ion-icon style="background:none !important;" name="eye"></ion-icon></button>
                </ion-item>
           
            <br>
            <button style="background: #aa792b;" ion-button class="button-login" block color="dark" type="submit" >Submit</button>
            <br>
        </form>
    </ion-card>
</ion-content>
